<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<kabara>
  <timbuctoo>
	  <timeout>15000</timeout>
    <!-- extend with authentication if needed -->
  </timbuctoo>
  <triplestore>
    <endpoint>http://kabara_my_virtdb_1:8890</endpoint>
    <path>sparql-auth/</path>
    <!-- Virtuoso user with SPARQL Update rights -->
    <user>dba</user>
    <pass>mysecret</pass>
  </triplestore>
  <dataset id="dwc" href="http://timbuctoo.huygens.knaw.nl/datasets/dwc">
    <synced><!-- timestamp of last successful sync --></synced>
  </dataset>
</kabara>
