<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<kabara>
  <timbuctoo>
	  <resourcesync>https://goldenagents.jauco.nl/v5/resourcesync/ufab7d657a250e3461361c982ce9b38f3816e0c4b/index_op_begraafregisters_20190509/capabilitylist.xml</resourcesync>
	  <timeout>15000</timeout>
    <!-- extend with authentication if needed -->
  </timbuctoo>
  <triplestore>
    <endpoint>http://localhost:8890/sparql-auth/</endpoint>
    <!-- Virtuoso user with SPARQL Update rights -->
    <user>demo</user>
    <pass>demo</pass>
  </triplestore>
  <dataset id="clusius" href="http://timbuctoo.huygens.knaw.nl/datasets/clusius">
    <synced><!-- timestamp of last successful sync --></synced>
  </dataset>
</kabara>
